[Unit]
Description=Windhager-Influx Client
After=network.target

[Service]
Type=simple
User=iot
WorkingDirectory=/home/script/windhager
ExecStart=/home/script/windhager/windhager-influx.py --windhager <> --db <> --dbuser <> --dbpass <>
Restart=always

[Install]
WantedBy=multi-user.target
Alias=windhager-influx.service
